{
  "kind": "collectionType",
  "collectionName": "TMPL_PLURAL",
  "info": {
    "singularName": "TMPL_NAME",
    "pluralName": "TMPL_PLURAL",
    "displayName": "TMPL_SINGULAR",
    "description": ""
  },
  "options": {
    "draftAndPublish": true
  },
  "pluginOptions": {
    "i18n": {
      "localized": true
    }
  },
  "attributes": {
    "title": {
      "type": "string",
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      }
    },
    "main_headings": {
      "type": "component",
      "repeatable": false,
      "component": "molecules.heading-atom",
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      }
    },
    "sections": {
      "type": "dynamiczone",
      "components": [
        "sections.content",
        "sections.cards",
        "sections.cards-link",
        "sections.banner"
      ],
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      }
    },
    "excerpt": {
      "type": "richtext",
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      }
    },
    "seo": {
      "type": "component",
      "repeatable": false,
      "component": "utils.seo-informations"
    },
    "slug": {
      "type": "uid",
      "targetField": "title"
    },
    "featuredImage": {
      "type": "component",
      "repeatable": false,
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      },
      "component": "atoms.picture"
    },
    "visualization": {
      "type": "component",
      "repeatable": true,
      "pluginOptions": {
        "i18n": {
          "localized": true
        }
      },
      "component": "utils.position"
    }
  }
}
